@model IEnumerable<OnlinePizza.Models.Dish>

@{
    ViewData["Title"] = "Index";
    var CartItemsList = ViewData["CartItemsList"];
}

<h2>Meny</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DishName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) kr
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> <a>|</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> <a>|</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> <a>|</a>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ID"><i class="fa fa-cart-plus " aria-hidden="true" style="color:black;"></i></a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-info-circle " aria-hidden="true" style="color:black;"></i></a> <a>|</a>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ID"><i class="fa fa-cart-plus " aria-hidden="true" style="color:black;"></i></a>
                }

            </td>
        </tr>
}

    </tbody>
</table>
<div class="cart">
    @{Html.RenderPartial("_CartPartial", CartItemsList);}
</div>
